<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="row">
        <div class="col-md-2">
            <h4>Contact with administrator:</h4>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</nav>
